kbd {
  display: inline-block;
  padding: 3px 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}

/* quick jump container for selecting projects */
#quick-jump-container {
  background: #fff;
  border: 1px solid #999;
  display: none;
  font-size: 300%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  max-width: 800px;
  max-height: 80%;
  text-align: center;
  z-index: 999999;
}

#quick-jump-container.show {
  display: block;
}
